<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>

    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'task.css' %}">
</head>
<body>
    <div class="center-column">
        <h1>To Do List</h1>
        <form method="post" action="/" style="font-size: 20px; margin-top: 20px">
            {% csrf_token %}
            <label for="id_title">Title:</label>
            <input type="text" name="title" placeholder="Add new task" required id="id_title" class="input-group-ng">
            <input type="submit" name="Create task" value="Create" class="input-button">
        </form>
        <br>


        {% for task in tasks %}
            <div class="form-list">
                {% if task.complete %}
                    <span style="text-decoration: line-through;" class="main-title" id="{{ task.id }}">{{ task.title }}</span>
                {% else %}
                    {% if task.has_due_date %}
{#                        <span>{{ today }}</span>#}
{#                        <span>{{ task.due_date }}</span>#}
                        {% if task.due_date < today %}
{#                            <span>less than</span>#}
                            <span class="main-title" id="title_{{ task.id }}" style="color: crimson">{{ task.title }}</span>
                        {% elif task.due_date == today %}
{#                            <span>equal</span>#}
                            <span class="main-title" id="title_{{ task.id }}" style="color: darkgreen">{{ task.title }}</span>
                        {% else %}
                            <span class="main-title" id="title_{{ task.id }}">{{ task.title }}</span>
                        {% endif %}
                    {% else %}
                        <span class="main-title" id="title_{{ task.id }}">{{ task.title }}</span>
                    {% endif %}
                {% endif %}
                <a href="{% url 'update' task.id %}"><button>Update</button></a>
                <a href="{% url 'delete' task.id %}"><button>Delete</button></a>
            </div>
        {% endfor %}
    </div>
</body>
{# Dealing with messages#}
{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}
</html>
