<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Update task</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'task.css' %}">
</head>
<body>
    <div class="center-column">
        <h1>Update task</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="update task" class="input-button">
        </form>
    </div>
</body>
</html>