{% extends "index.html" %}

{% block content %}
<div id="content-main">

  <form method="post" id="{{ name }}_form" action="" novalidate>
    <div>
      {% include "fieldset.html" %}

      {% block after_field_sets %}{% endblock %}

      {% block inline_field_sets %}
      {% for inline_admin_formset in inline_admin_formsets %}
          {% include inline_admin_formset.opts.template %}
      {% endfor %}
      {% endblock %}

      <div class="submit-row">
        <p class="deletelink-box"><a href="{{ app }}{{ path }}/{{ name }}/{{ item }}/delete/" class="deletelink">delete</a></p>
        {% comment %} 由于action为空，点击这些按钮后往当前地址post，其中包含键值对"name: value"，如_save: 保存，通过判断这个值来重定向到不同页面 {% endcomment %}
        <input type="submit" value="save" name="goto">
        <input type="submit" value="add another" name="goto">
        <input type="submit" value="continue edit" name="goto">
        {% for button in buttons %}
          <input type="submit" value="{{ button.value }}" name="{{ button.name }}">
        {% endfor %}
      </div>
      
      <script id="django-admin-form-add-constants" src="/static/js/change_form.js" async=""></script>
      <script id="django-admin-prepopulated-fields-constants" src="/static/js/prepopulate_init.js" data-prepopulated-fields="[]"></script>

    </div>
  </form>
</div>
{% endblock %}
