
<fieldset class="module aligned">

  {% for line in fieldset %}
    <div class="form-row">
      <div>
        <label class="{% if line.required %}required{% endif %}">
          {{ line.name }}
        </label>
        {% if line.type == "text" %}
          <input placeholder="" title="{{ line.name }}" type="text" name="{{ line.name }}" value="{{ line.data }}" class="vTextField" maxlength="{% if line.maxlength %}{{ line.maxlength }}{% else %}13{% endif %}" {% if line.required %}required {% endif %}id="id_{{ line.name }}" {% if line.readonly %}readonly{% endif %} check="{{ line.check }}">
        {% elif line.type == "textarea" %}
          <textarea name="{{ line.name }}" cols="{{ line.cols }}" rows="{{ line.rows }}" class="vLargeTextField" {% if line.required %}required {% endif %}id="id_{{ line.name }}" {% if line.readonly %}readonly{% endif %}>{{ line.data }}</textarea>
        {% elif line.type == "select" %}
          <div class="related-widget-wrapper" data-model-ref="{{ line.name }}">
            <select name="{{ line.name }}" title="{{ line.name }}" {% if line.required %}required{% endif %} id="id_{{ line.name }}_id">
              <option value="">---------</option>
              {% for opt in line.opts %}
                <option value="{{ opt }}"{% if line.selected == opt %} selected{% endif %}>{{ opt }}</option>
              {% endfor %}
            </select>
            <a class="related-widget-wrapper-link" id="change_id_{{ line.name }}_id" data-popup="yes" title="更改选中的{{ line.name }}" href="{{ app }}{{ path }}/{{ line.name }}/{{ line.selected }}/change/">
              <img src="/static/img/icon-changelink.svg" alt="修改">
            </a>
            <a class="related-widget-wrapper-link" id="add_id_{{ line.name }}_id" data-popup="yes" href="{{ app }}{{ path }}/{{ line.name }}/add/" title="增加另一个{{ line.name }}">
              <img src="/static/img/icon-addlink.svg" alt="增加">
            </a> 
            <a class="related-widget-wrapper-link" id="view_id_{{ line.name }}_id" title="查看已选择的{{ line.name }}" href="{{ app }}{{ path }}/{{ line.name }}/{{ line.selected }}/change/">
              <img src="/static/img/icon-viewlink.svg" alt="查看">
            </a>
          </div>
        {% elif line.type == "picture" %}
        <img name="{{ line.name }}" src="data:image/png;base64,{{ line.base64 }}" cols="{{ line.cols }}" rows="{{ line.rows }}" {% if line.required %}required {% endif %}id="id_{{ line.name }}" alt="{{ line.name }}" />
        {% elif line.type == "link" %}
        <a class="vTextField" style="verticla-align: middle; line-height:30px;" name="{{ line.name }}" href="{{ app }}{{ path }}/{{ line.link }}/change" {% if line.required %}required {% endif %}id="id_{{ line.name }}">{{ line.data }}</a>
        {% elif line.type == "time" %}
        <p class="datetime">
          日期： 
          <input type="text" name="time_0_{{ line.name }}" class="vDateField" size="10" id="id_time_0_{{ line.name }}" value="{{ line.data.date }}">
          <br>时间： 
          <input type="text" name="time_1_{{ line.name }}" class="vTimeField" size="8" id="id_time_1_{{ line.name }}" value="{{ line.data.time }}">
        </p>
        {% else %}
          <div>{{ line.data }}</div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</fieldset>

<script type="text/javascript">
  {% for line in fieldset %}
    {% if line.type == "select" %}
      $("#id_{{ line.name }}_id").change(
        function() {
          $("#view_id_{{ line.name }}_id")[0].href = 
                "{{ app }}{{ path }}/{{ line.name }}/" + document.getElementById('id_{{ line.name }}_id').value + "/change/";
          $("#change_id_{{ line.name }}_id")[0].href = 
                "{{ app }}{{ path }}/{{ line.name }}/" + document.getElementById('id_{{ line.name }}_id').value + "/change/";
      });
    {% endif %}
  {% endfor %}
  document.querySelectorAll('[check=phone]').forEach((item, index) => {
    item.addEventListener('change', (e) => {
      if(!e || !e.path[0]) {
        return;
      }
      var phone = e.path[0].value;
      var part = phone.split('-');
      if(part.length === 2) {
        if(part[0].length !== 3 && part[0].length !== 4 || part[1].length !== 7 && part[1].length !== 8) {
          alert("phone num error: " + phone);
          e.path[0].value = "";
        }
      } else {
        if(phone[0] != '1' || phone.length !== 11 || phone.search(/[^0-9]/) !== -1) {
          alert("phone num error: " + phone);
          e.path[0].value = "";
        }
      }
    });
  });
  document.querySelectorAll('[check=age]').forEach((item, index) => {
    item.addEventListener('change', (e) => {
      if(!e || !e.path[0]) {
        return;
      }
      var value = e.path[0].value;
      if(value.search(/[^0-9]/) !== -1 || Number(value) < 0 ||  Number(value) > 150) {
        alert("age error: " + value);
        e.path[0].value = "";
      }
    });
  });
</script>
